<!-- nav -->
<nav class="navbar navbar-expand px-3" *ngIf="user">
    <div class="navbar-nav">
        <!-- <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" >Home</a> -->
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" >Users</a>
        <a class="nav-item nav-link" routerLink="/userJobs" routerLinkActive="active">Jobs</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
        <img class="div-center login-logo" src="./assets/images/logo.jpg"  alt="Alternative Text" height="40" width="450" style="float: right"/>

    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits
<div class="text-center mt-4">
    <p>
        <a class="button" routerLink="/credits" target="_blank" >@Prime_Directive</a>
    </p>
</div> -->