<h1>Appointments</h1>
<a routerLink="addJob" class="btn btn-sm btn-success mb-2">Add Appointment</a>
<div class="jobMapList">
  <div class="jobList">
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 30%">Client Name</th>
        <th style="width: 30%">Post Code</th>
        <th style="width: 30%">Time slot</th>
        <th style="width: 10%">Status</th>
        <th style="width: 10%">Action</th>
      </tr>
      </thead>
      <tbody>
      <!--    jobStatus = [0 'Assigned', 1 'On the way',2 'Checkin',  3 'Emergency',' 4 CheckinOut'];-->

      <tr *ngFor="let job of jobs">
        <td>{{job.clientFirstName}} {{job.clientLastName}}</td>
        <td>{{job.postCode}}</td>
        <td>{{job.timeSlot}}</td>
        <td *ngIf="!job.status">{{jobStatus[0]}}</td>
        <td *ngIf="job.status">{{jobStatus[job.status]}}</td>
        <td style="white-space: nowrap">
          <a routerLink="./userJobs/{{job.jobId}}" class="btn btn-sm btn-primary me-1">View</a>
          <button (click)="updateSatus(job.jobId,1)" *ngIf="!job.status" type="button"
                  class="btn btn-primary btn-sm">{{jobStatus[1]}}</button>
          <button (click)="updateSatus(job.jobId,1)" *ngIf="job.status==0" type="button"
                  class="btn btn-primary btn-sm">{{jobStatus[1]}}</button>
          <button (click)="updateSatus(job.jobId,2)" *ngIf="job.status==1" type="button"
                  class="btn btn-primary btn-sm">{{jobStatus[2]}}</button>
          <button (click)="updateSatus(job.jobId,3)" *ngIf="job.status==2" type="button"
                  class="btn btn-primary btn-sm">{{jobStatus[3]}}</button>
          <button (click)="updateSatus(job.jobId,4)" *ngIf="job.status==2" type="button"
                  class="btn btn-primary btn-sm">{{jobStatus[4]}}</button>
          <!-- <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
              <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
              <span *ngIf="!user.isDeleting">Delete</span>
          </button> -->
        </td>
      </tr>
      <tr *ngIf="!jobs">
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mapJob">
    <img src="./assets/images/map.png">
  </div>
</div>
