.card-header{
    background-color:  #76CAF1;
    border-color: #1C5BA7;
    }

.form-control
{
    border-color: #76CAF1;
}
.container{
    background-color:  #76CAF1;
}

.p-4{
    background-color:  #76CAF1;
}